:root{
    --cor-fundo:#f3b5ea;
    --cor-principal:#3d0d35;
    --cor-secundaria:#aa1a76;
    --cor-destaque:#f57be5;
    --cor-texto:#D7F9FF;

}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque); 
}
button{
background-color: var(--cor-secundaria);
color: var(--cor-texto);
border: none;
border-radius: 15px;
padding: 15px;


}